$font-family: arial, helvetica, sans-serif;

// Main gov styles
@use 'node_modules/govuk-frontend/dist/govuk/index' with (
	// don't use the GDS Transport font, this service is not on GOV.UK
	// https://www.gov.uk/service-manual/design/making-your-service-look-like-govuk#if-your-service-isnt-on-govuk
	$govuk-font-family: $font-family
);
@use 'node_modules/@planning-inspectorate/core/dist/ui/header/pins-header';
@use 'node_modules/@planning-inspectorate/core/dist/ui/footer/pins-footer';

// set font-family for any autocomplete menu items
/* stylelint-disable-next-line selector-class-pattern */
.autocomplete__menu {
	font-family: $font-family;
}

@media (width >= 1440px) {
	.pins-container-wide {
		max-width: 1280px;
	}
}

.pins-white-space-pre-wrap {
	white-space: pre-wrap;
}
